<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
</head>
<body>
<div class="island" layout:fragment="page-content">
    <h1>Create Account</h1>
    <div class="island-content">
        <form th:action="@{/accounts}" method="post" novalidate="novalidate">
            <input type="hidden" name="client_id" th:value="${client_id}"/>
            <input name="email" type="email" placeholder="Email" autofocus="autofocus" class="form-control"/>
            <input type="submit" value="Send activation email" class="island-button"/>
        </form>
        <a href="/login" th:href="@{/login}" class="link-lowlight">Back to Sign In</a>
    </div>
</div>
</body>
</html>