html {
	background: url('../images/bg-plain.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 1px 0 #333333;
	color: #FFFFFF;
	font-weight: 300;
}

img {
	border: none;
}

hr {
	margin: 25px 0;
}

.super-nav li,.super-nav li a {
	list-style-type: none;
	color: #333;
	text-shadow: 0 1px white;
}

.super-nav li a:hover {
	text-decoration: none;
	color: #0099D6;
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

p {
  font-size: 14px;
}

.intro-text {
  font-size: 16px;
}

.confirm {
	text-align: left;
  font-size: 14px;
}

.splash {
	background: url('../images/bg-pattern.png') no-repeat;
	margin: 32px auto 0 auto;
	width: 1023px;
	height: 672px;
}

.confirm a, .bg-content-approvals a {
	text-decoration: none;
	color: #0099D6;
}

.logo {
	margin: 58px 0 13px 231px;
}

.splash-box {
	width: 450px;
	padding: 40px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-color: #1c94db;
	background: -moz-linear-gradient(top, #1c94db 0%, #03396c 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1c94db),
		color-stop(100%, #03396c) );
	background: -webkit-linear-gradient(top, #1c94db 0%, #03396c 100%);
	background: -o-linear-gradient(top, #1c94db 0%, #03396c 100%);
	background: -ms-linear-gradient(top, #1c94db 0%, #03396c 100%);
	background: linear-gradient(top, #1c94db 0%, #03396c 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#1c94db',*/
		/*endColorstr='#03396c', GradientType=0 );*/
	border: 5px solid rgb(152, 178, 198);
	border: 5px solid rgba(152, 178, 198, 0.6);
	-webkit-background-clip: padding-box; /* for Safari */
	background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.container {
	text-align: left;
	margin: 33px;
}

#loginForm input {
	color: #FFFFFF;
	font-size: 13px;
	background: #2b2c31;
	background-repeat: no-repeat;
	border: none;
	width: 330px;
	height: 38px;
	border-radius: 6px;
	padding: 0 0 0 20px;
	margin: 0 0 9px 0;
}

input::-webkit-input-placeholder {
	color: #FFFFFF;
}

:focus::-webkit-input-placeholder {
	color: #666666;
	font-weight:200;
}

:focus:-moz-placeholder {
  color: #666666;
  font-weight:200;
}

:focus::-moz-placeholder {
  color: #666666;
  font-weight:200;
}

.input {
  display: block;
}
.input span {
  position: absolute;
  margin: 11px 0 0 20px;
  color: #ffffff;
  z-index: 1;
  cursor: text;
  font-size: 13px;
  padding-left: 1px;
}
.input input, .input textarea, .input select {
  z-index: 0;
  padding: 6px;
  margin: 0;
  font: inherit;
}
/* Hack to remove Safari's extra padding */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select { padding: 4px; }
}

input#username {
	background-image: url(../images/icon-user.png);
	background-position: 313px 6px;
}

input#password {
	background-image: url(../images/icon-password.png);
	background-position: 315px 6px;
}


.orange-button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: white;
	font-size: 14px;
	text-align: center;
	border: 1px solid #813516;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #EC6129;
	background: -moz-linear-gradient(top, #EC6129 0%, #C14513 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EC6129),
		color-stop(100%, #C14513) );
	background: -webkit-linear-gradient(top, #EC6129 0%, #C14513 100%);
	background: -o-linear-gradient(top, #EC6129 0%, #C14513 100%);
	background: -ms-linear-gradient(top, #EC6129 0%, #C14513 100%);
	background: linear-gradient(top, #EC6129 0%, #C14513 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#ec6129',*/
		/*endColorstr='#C14513', GradientType=0 );*/
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0
		-1px 0 0 rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0
		0 rgba(0, 0, 0, .4);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0
		rgba(0, 0, 0, .4);
	text-transform: uppercase;
	text-decoration: none;
}

.orange-button:hover {
	text-decoration: none;
	background: #f9672c;
	background: -moz-linear-gradient(top, #f9672c 0%, #e26638 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9672c),
		color-stop(100%, #e26638) );
	background: -webkit-linear-gradient(top, #f9672c 0%, #e26638 100%);
	background: -o-linear-gradient(top, #f9672c 0%, #e26638 100%);
	background: -ms-linear-gradient(top, #f9672c 0%, #e26638 100%);
	background: linear-gradient(top, #f9672c 0%, #e26638 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#f9672c',*/
		/*endColorstr='#e26638', GradientType=0 );*/
	cursor: pointer;
}

.gray-button {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	color: white;
	font-size: 14px;
	text-align: center;
	border: 1px solid #444;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #eee;
	background: -moz-linear-gradient(top, #eee 0%, #999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eee),
		color-stop(100%, #999) );
	background: -webkit-linear-gradient(top, #eee 0%, #999 100%);
	background: -o-linear-gradient(top, #eee 0%, #999 100%);
	background: -ms-linear-gradient(top, #eee 0%, #999 100%);
	background: linear-gradient(top, #eee 0%, #999 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#eee',*/
		/*endColorstr='#999', GradientType=0 );*/
	-webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0
		-1px 0 0 rgba(0, 0, 0, .4);
	-moz-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0
		0 rgba(0, 0, 0, .4);
	box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, .3), inset 0 -1px 0 0
		rgba(0, 0, 0, .4);
	text-transform: uppercase;
	text-decoration: none;
}

.gray-button:hover {
	text-decoration: none;
	background: #444;
	background: -moz-linear-gradient(top, #444 0%, #bbb 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #444),
		color-stop(100%, #bbb) );
	background: -webkit-linear-gradient(top, #444 0%, #bbb 100%);
	background: -o-linear-gradient(top, #444 0%, #bbb 100%);
	background: -ms-linear-gradient(top, #444 0%, #bbb 100%);
	background: linear-gradient(top, #444 0%, #bbb 100%);
	/*filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#444',*/
		/*endColorstr='#bbb', GradientType=0 );*/
	cursor: pointer;
}

.button-alt a {
	font-size: 14px;
	margin: 0 0 0 73px;
}

.button-alt a:hover, a:hover {
	color: #cccccc;
}

.question {
	padding-right: 50px;
	padding-bottom: 10px;
	background-image: url(../images/icon-question.png);
	background-position: 140px 0px; /*A little hardcoded*/
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.footer {
	font-size: 12px;
	text-align: center;
	margin: 52px 0;
	color: #333333;
	text-shadow: 0 1px white;
	font-weight: 400;
}

.flash {
	display: inline-block;
	border-radius: 5px;
	color: #FF0000;
	background: #EEE;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 13px;
	text-shadow: 0 1px white;
}

/* Approvals/Access Confirmation */

.approvals {
  background: url('../images/bg-pattern.png') no-repeat;
  margin: 52px auto 0 auto;
  width: 960px;
}

.logo-approvals {
  margin: 0 0 43px 0;
}

.bg-content-approvals {
  margin: 0 20px 0 0;
  background: none repeat scroll 0 0 rgba(255,255,255,0.3);
  -moz-box-shadow:  0 0 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #CEDBE2;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #333333;
  width: 960px;
}

.bg-content-approvals h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 40px;
}

.bg-content-approvals h2 {
  font-weight: 300;
}

.bg-content-approvals a:hover {
	text-decoration: underline;
  color: #0099D6;
}

.content-title-approvals {
  -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background-image: -moz-linear-gradient(bottom, #eee 0%, #fefefe 100%);
  background-image: -o-linear-gradient(bottom, #eee 0%, #fefefe 100%);
  background-image: -webkit-linear-gradient(bottom, #eee 0%, #fefefe 100%);
  background-image: linear-gradient(bottom, #eee 0%, #fefefe 100%);
  height: 72px;
  padding: 3px 0 0 30px;
  background-color: #FEFEFE;
  border-bottom: 1px solid #dfe3e6;
}

.content-inner-approvals {
  padding: 25px 30px;
}

.left-side-approvals {
  float: left;
  width: 180px;
  max-width: 180px;
  margin: 15px 0 20px 0;
  word-wrap:break-word;
}

.left-side-approvals a {
  font-size: 14px;
  word-wrap:break-word;
}

.break {
  word-wrap:break-word;
}

.right-side-approvals {
  float: right;
  width: 676px;
  border-left: 1px solid white;
  padding-left: 20px;
  margin-bottom: 25px;
}

.approvals-list-div {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  background: #FEFEFE;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  color:#333;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background: url(../images/icons.png) 0 -482px no-repeat;
  width: 49px;
  height: 21px;
  display:inline-block;
  padding: 0 0 0 0px;
  float: right;
  margin: -4px 0 0 0;
}


input[type=checkbox]:hover {
  cursor: pointer;
}


input[type=checkbox]:checked {
  -webkit-appearance: none;
  background: url(../images/icons.png) 0 -767px no-repeat;
  width: 49px;
  height: 21px;
  display:inline-block;
  padding: 0 0 0 0px;
  float: right;
  margin: -4px 0 0 0;
}

.left {
  float:left;
}

.right {
  float:right;
}

.spacer {
  margin:  20px 0;
}

.btn-primary-medium {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fe6123)color-stop(100%, #a53609));
  background-image: -webkit-linear-gradient(#fe6123,#a53609);
  background-image: -moz-linear-gradient(#fe6123,#a53609);
  background-image: -o-linear-gradient(#fe6123,#a53609);
  background-image: linear-gradient(#fe6123,#a53609);
  -webkit-box-shadow: 0 1px 0 #bbb,#fe814e 0 1px 0 0 inset;
  -moz-box-shadow: 0 1px 0 #bbb,#fe814e 0 1px 0 0 inset;
  box-shadow: 0 1px 0 #bbb,#fe814e 0 1px 0 0 inset;
  text-shadow: 0 -1px 0 #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin: 0 3px 15px 0;
  text-align: center;
  border: 1px solid #813516;
  color: #fff;
  text-transform: uppercase;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  font-size: 11px;
  background-color: #f1865b;
}

.btn-primary-medium:hover {
  background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b23c0d), color-stop(100%, #df521a));
  background-image:-webkit-linear-gradient(#b23c0d,#df521a);
  background-image:-moz-linear-gradient(#b23c0d,#df521a);
  background-image:-o-linear-gradient(#b23c0d,#df521a);
  background-image:linear-gradient(#b23c0d,#df521a);
  -webkit-box-shadow:0 1px 0 #bbb,#813516 0 1px 0 0 inset;
  -moz-box-shadow:0 1px 0 #bbb,#813516 0 1px 0 0 inset;
  box-shadow:0 1px 0 #bbb,#813516 0 1px 0 0 inset;
  text-decoration:none;
  color:#fff;
  cursor: pointer;
}

.btn-secondary-medium {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #cdcdcd));
  background-image: -webkit-linear-gradient(#ffffff,#cdcdcd);
  background-image: -moz-linear-gradient(#ffffff,#cdcdcd);
  background-image: -o-linear-gradient(#ffffff,#cdcdcd);
  background-image: linear-gradient(#ffffff,#cdcdcd);
  -webkit-box-shadow: 0 1px 0 #ddd;
  -moz-box-shadow: 0 1px 0 #ddd;
  box-shadow: 0 1px 0 #ddd;
  text-shadow: 0 1px 0 #fff;
  font-weight: bold;
  color: #515151;
  font-size: 11px;
  height: 28px;
  line-height: 28px;
  padding: 0 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  margin-right: 3px;
  text-align: center;
  border: 1px solid #b8b8b8;
  text-transform: uppercase;
}

.btn-secondary-medium:hover {
  text-decoration:none;
  color:#0096d0;
  cursor: pointer;
}

#vendor {
	cursor: pointer;
}

a#vendor:hover {
	text-decoration: none;
  color: #0099D6;
}

.approvals-list-container {
  float: right;
  width: 838px;
}

.inactive {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  background: #FEFEFE;
  margin-bottom: 10px;
  font-size: 11px;
  text-transform: uppercase;
  opacity: 0.3;
}
a.allrequests, a.individualrequests{
  color: #333;
}
a.allrequests:hover, a.individualrequests:hover{
  text-decoration: none;
  color:#333;
}

.super-nav li a:hover {
  text-decoration: underline;
}

img.gsc-branding-img,img.gsc-branding-img-noclear,img.gcsc-branding-img,img.gcsc-branding-img-noclear
	{
	display: none;
}

.gs-result .gs-title,.gs-result .gs-title * {
	color: #0094d4;
}

.js-hide {
	display: none;
}

.js-show {
	display: block;
}

.fouc-fix {
	display: none;
}

a.allrequests {
	display: none;
}

.icon-div {
  display: none;
  height:10px;
  float: right;
  width: 60px;
}

.delete-icon {
  display: none;
  background: url(../images/icons.png) 0 -1344px no-repeat;
  width: 22px;
  height: 21px;
  cursor: pointer;
  border: none;
}

.delete-icon:hover {
  background: url(../images/icons.png) 0 -1367px no-repeat;
  width: 22px;
  height: 21px;
  cursor: pointer;
  border: none;
}

.edit-icon {
  display: none;
  background: url(../images/icons.png) 0 -1300px no-repeat;
  width: 27px;
  height: 21px;
  cursor: pointer;
  border: none;
}

.edit-icon:hover {
  background: url(../images/icons.png) 0 -1320px no-repeat;
  width: 27px;
  height: 21px;
  cursor: pointer;
  border: none;
}

.none {
  display: none;
}

.block {
  display: block;
}

.app-approval-container1 {
  background: none repeat scroll 0 0 rgba(255,255,255,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #333333;
  padding: 20px 30px 17px 30px;
  margin: 0 0 10px 0;
  border: 1px solid transparent;
}

.app-approval-container1:hover {
  border: 1px solid #0099D6;
  text-decoration: none;
}

.app-approval-container2 {
  background: none repeat scroll 0 0 rgba(255,255,255,0.5);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(255,255,255,0.75);
  color: #333333;
  padding: 20px 30px 17px 30px;
  margin: 0 0 10px 0;
  border: 1px solid transparent;
}

.app-approval-container2:hover {
  border: 1px solid #0099D6;
  cursor: pointer;
}

a#first:hover, a#second:hover {
  text-decoration: none;
}

.linklike {
  color:#0099D6;
}

#firstlink:hover, .app-approval-container1 a:hover, .app-approval-container2 a:hover {
  text-decoration: none;
}

.row {
  height: 21px;
}

#firstlink {
  cursor: pointer;
}

.tooltip {
  position: absolute;
  max-width: 50px;
  height: 20px;
  text-align: center;
  padding: 5px 7px 0;
  border-radius: 3px;
  border: 1px solid #262626;
  background: -moz-linear-gradient(top, #363739 0%, #262729 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #363739),color-stop(100%, #262729) );
	background: -webkit-linear-gradient(top, #363739 0%, #262729 100%);
	background: -o-linear-gradient(top, #363739 0%, #262729 100%);
	background: -ms-linear-gradient(top, #363739 0%, #262729 100%);
	background: linear-gradient(top, #363739 0%, #262729 100%);
  font-size: 12px;
}

.tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #363739 transparent;
  top: -10px;
  left: 5px;
}