.access-confirmation {
 padding: 0 88px;
}

.access-confirmation .app-info {
 margin-top: 24px;
}

.access-confirmation .app-info h2 {
 color: #3b3c41;
}

.access-confirmation .app-info a.h2 {
 color: #00776d;
}

.access-confirmation .app-info a.h2:hover,.access-confirmation .app-info a.h2:focus
 {
 color: #006859;
}

.permissions-container {
 background-color: white;
 margin: 26px 0;
 padding: 24px;
 border: 1px solid #cbcbcb;
 text-align: left;
}

.permissions-container p {
 margin: 0;
 padding: 0;
}

.permissions-container .permissions {
 margin: 24px 0;
}

.access-confirmation form .actions-authorize,.access-confirmation form .actions-deny
 {
 float: right;
}

.access-confirmation form .actions-deny {
 padding-top: 6px;
 padding-right: 4px;
}

.access-confirmation .clearfix {
 padding-bottom: 60px;
}