.approvals-container {
    padding: 0 88px 50px;
}

.approvals-container .h2, .approvals-container h2 {
    color: #3b3c41;
}

.account-info, .application-approvals {
    margin-top: 24px;
}

.account-info {
    text-align: left;
}

.application-approvals {
    padding-top: 24px;
    border-top: 1px solid #cbcbcb;
}

.application-approvals .approved-app {
    margin-top: 30px;
    border: 1px solid transparent;
    padding: 20px;
    background-color: white;
    text-align: left;
}

.application-approvals .approved-app:hover {
    border-color: #cbcbcb;
}

.application-approvals .approved-app .app-name {
    color: #63ada7;
}

.application-approvals .approved-app .approved-app-actions,
.application-approvals .approved-app .revoke-access-action {
    float: right;
    color: #767676;
    cursor: pointer;
}

.application-approvals .approved-app .approved-app-actions {
    margin-top: -4px;
    font-size: 24px;
    display: none;
}

.application-approvals .approved-app .approved-app-actions button i {
    font-size: 24px;
    text-decoration: none;
    color: #767676;
}

.application-approvals .approved-app:hover .approved-app-actions {
    display: block;
}

application-approvals .approved-app .revoke-access-action {
    text-decoration: underline;
}

.application-approvals .approved-app .approved-app-actions i,
.application-approvals .approved-app .revoke-access-action {
    padding-left: 4px;
}

.application-approvals .approved-app .approved-app-actions i:hover,
.application-approvals .approved-app .revoke-access-action:hover {
    color: #3b3c41;
}

.application-approvals .approved-app .permissions {
    margin-top: 16px;
}

.actions-update, .actions-cancel {
    margin-top: 10px;
    float: right;
}

.actions-cancel {
    padding: 6px 4px;
}
