@import '../../stylesheets/base';

$header-space: 130px;

h1 {
    color: $teal;
}

.island {
    padding-top: $header-space;
}

.panel-container {
  padding-top: $header-space;
}

.pivotal-links {
    list-style: none outside none;
    margin-top: 40px;
    padding: 0;

    li {
        display: inline-block;
        margin-left: 32px;

        &:first-child {
            margin-left: 0;
        }
    }

    a {
        background-color: $white;
        background-repeat: no-repeat;
        background-position: 68% 48%;
        border: 1px solid #cccccc;
        display: block;
        height: 116px;
        overflow: hidden;
        text-indent: -10000px;
        width: 158px;
    }
}

.image-preload {
    background-repeat: no-repeat;
    background-position: -99999px -99999px;
}
