<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/main">
<head>
</head>
<body>
    <div class="island" layout:fragment="page-content">
        <h1>Welcome!</h1>
        <div class="island-content">
            <form th:action="@{/login.do}" method="post" novalidate="novalidate">
                <div th:if="${param.error}" class="error-message">
                    Unable to verify email or password.<br />
                    Please try again.
                </div>
                <input th:each="prompt,iter : ${prompts}"
                       th:name="${prompt.key}"
                       th:type="${prompt.value[0]}"
                       th:placeholder="${prompt.value[1]}"
                       th:autocomplete="${prompt.value[0] != 'password'}"
                       th:autofocus="${iter.index} == 0"
                       class="form-control"/>
                <input type="submit" value="Sign in" class="button btn btn-alternate btn-lg btn-block"/>
            </form>
            <div th:if="${saml}" class="saml-login">
                OR<br/>
                <a href="" th:href="@{saml/discovery(returnIDParam=idp,entityID=${entityID})}" class="saml-login-link">Use your corporate credentials</a>
            </div>
            <span class="left">
                <a href="/register" th:href="${links.get('register')}" class="link-lowlight">Create account</a>
            </span><span class="right" th:if="${links.get('passwd')}">
                <a href="/forgot_password" th:href="${links.get('passwd')}" class="link-lowlight">Reset password</a>
            </span>
        </div>
    </div>
</body>
</html>