<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" dir="ltr" lang="en" th:with="brand=${@environment.getProperty('login.brand')}">
<head>
    <title>Pivotal</title>
    <link href='resources/pivotal/images/favicon.ico' rel='shortcut icon' />
    <meta charset='utf-8' />
    <meta name='author' content='Pivotal Software, Inc' />
    <meta name='copyright' content='Copyright 2014 Pivotal Software, Inc. All Rights Reserved.' />
    <meta name='robots' content='all' />
    <meta name='Description' content=""/>
    <meta name='keywords' content=""/>
    <link href="resources/stylesheets/pivotal.css" th:href="@{'/resources/stylesheets/'+${brand}+'.css'}" rel="stylesheet"/>

    <!--<script type="text/javascript" src="resources/javascripts/jquery.js"></script>-->
</head>
<body th:style="|background: #f8f8f8 url(@{'/resources/'+${brand}+'/images/logo.png'}) no-repeat 50% ${brand == 'pivotal' ? 0 : 20}px;|">
    <div class="content-area">
        <div class="island">
            <h1>Welcome!</h1>
            <div class="island-content">
                <form th:action="@{/login.do}" method="post" novalidate="novalidate">
                    <input th:each="prompt,iter : ${prompts}"
                           th:name="${prompt.key}"
                           th:type="${prompt.value[0]}"
                           th:placeholder="${prompt.value[1]}"
                           th:autocomplete="${prompt.value[0] != 'password'}"
                           th:autofocus="${iter.index} == 0"
                           class="form-control"/>
                    <input type="submit" value="Sign in" class="button btn btn-alternate btn-lg btn-block"/>
                </form>
                <span class="left">
                    <a href="/register" th:href="${links.get('register')}" class="link-lowlight">Create account</a>
                </span><span class="right" th:if="${links.get('passwd')}">
                    <a href="/forgot_password" th:href="${links.get('passwd')}" class="link-lowlight">Reset password</a>
                </span>
            </div>
        </div>

        <script th:if="${analytics.size() > 0}">
            (function(i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o), m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script',
                    '//www.google-analytics.com/analytics.js', 'ga');
        </script>
        <script th:if="${analytics.size() > 0}" th:utext="|ga('create', '${analytics.get('code')}','${analytics.get('domain')}');|"></script>
        <script th:if="${analytics.size() > 0}" th:utext="|ga('send', 'pageview');|"></script>
    </div>
</body>
</html>