/*doc
---
title: Collapse Toggle
name: collapse
category: Base CSS
---

Also see the select tabs for a toggle triggered by a select group.
This is frequently used in combination with our panel components.

```haml_example
#accordion-1.panel
  .panel-heading.collapse-trigger.collapsed{data: {toggle: 'collapse', parent: '#accordion-1'}, href: '#myCollapse-1'}
    .row
      .col-md-1.pvm
        %a.icon-when-collapsed
          %i.fa.fa-plus-square
        %a.icon-when-expanded
          %i.fa.fa-minus-square
      .col-md-23
        %h3.type-em-1.type-primary-2 My fancy application
  #myCollapse-1.panel-collapse.collapse
    .panel-body
      This content should hide and show when the trigger is clicked.
```

*/
$collapse-trigger-color: $steel-4;
$collapse-trigger-bkg-color: $gray-4;
$collapse-trigger-collapsed-bkg-color: $gray-5;


.collapse-trigger {
  color: $collapse-trigger-color;
  background-color: $collapse-trigger-bkg-color;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $collapse-trigger-color;
  }

  i {
    color: $collapse-trigger-color;
  }

  .icon-when-collapsed i {
    display: none;
  }

  .icon-when-expanded i {
    display: block;
  }

  &.collapsed {
    background-color: $collapse-trigger-collapsed-bkg-color;

    .icon-when-collapsed i {
      display: block;
    }

    .icon-when-expanded i {
      display: none;
    }
  }
}
