
/*doc
---
title: Hiding and Showing
name: hide
category: Base CSS
---
### Javascript

Try disabling js and rendering this page.

```haml_example
%h3.invisible-no-js Won't show if browser doesn't support JS.
```

### Printing
Try printing this page to see these styles in action.

```haml_example
%h3.print-only This will only show when printed
%h3.no-print This will not show when printed
```

*/

.no-js .invisible-no-js {
  visibility: hidden;
}

.print-only {
  display: none;
}