/*doc
---
title: Code
name: code
category: Base CSS
---

Sometimes we display code or command line output in
our application. Do that with `<pre>` and `<code>`.

## Inline
Wrap inline snippets of code with `<code>`.

```haml_example
Check out this great tag,
%code &lt;section&gt;
which is wrapped as inline.
```
## Basic block
Use `<pre>` for multiple lines of code. Be sure to escape
any angle brackets in the code for proper rendering.

```haml_example
%pre &lt;p&gt;Sample text here...&lt;/p&gt;
```
*/

