/*doc
---
title: Dividers
name: divider
category: Base CSS
---

Dividers draw horizontal lines between different content groupings.

```haml_example
%hr.divider-simple
```

```haml_example
%hr.divider-lowlight
```

*/

.divider-simple {
  border-top: $divider-simple-border;
}

.divider-lowlight {
  border-top: $divider-lowlight-border;
}
