/*doc
---
title: Editable
name: editable
category: Base CSS
---

Use this class for sections that can switch into an 'edit' mode.

```haml_example
.editable{data: {behavior: 'Editable'}}
  .panel.editable-show
    I'm viewing...
    %a.btn.btn-default{data: {editable: 'toggle', target: 'edit'}} Edit
  .panel.editable-edit
    I'm editing...
    %a.btn.btn-default{data: {editable: 'toggle', target: 'show'}} Cancel
```

*/

.editable {
  .editable-show {
    display: block;
  }

  .editable-edit {
    display: none;
  }

  &.edit {
    .editable-show {
      display: none;
    }

    .editable-edit {
      display: block;
    }
  }
}

