.alert {
  margin: $baseSpacing 0;
  .close {
    text-decoration: none;
    line-height: .7;
    text-shadow: none;
  }
}

// bootstrap includes alert-danger, but our html expects "alert-error" class
.alert-error {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
