/*doc
---
title: Navigation
name: navigation
category: Base CSS
---


*/


/*doc
---
title: Pills
name: pills
parent: navigation
category: Base CSS
---

pill-group at the moment is only intended to be applied to an active nav-pill.

```haml_example
%ul.nav.nav-pills
  %li.active.pill-group
    %a{href: "#"}
      Development
    %a
      %i.fa.fa-cog
  %li
    %a{href: "#"}
      Staging
  %li
    %a{href: "#"}
      Production
```

*/

.nav-pills {
  font-size: 0;
  li {
    font-size: $font-size-base;
    a {
      background-color: $nav-pills-link-bg;
      color: $nav-pills-link-text;
      &:hover {
        background-color: $nav-pills-link-hover-bg;
        color: $type-inverse;
      }
    }
    margin-right: $nav-pills-whitespace;
    margin-bottom: $nav-pills-whitespace;
    + li {
      margin-left: 0; //override bootstrap
    }
  }
  li.pill-group {
    position: relative;
    a:first-child {
      padding-right: 40px;
    }
    a + a {
      position: absolute;
      top: 0;
      right: 0;
      @include border-left-radius(0);
      cursor: pointer;
      border-left: 1px solid $teal-4;
      color: $teal-4;
      padding: 2px 7px;
      font-size: 18px;
      &:hover {
      border-left-color: $teal-5;
      color: $type-inverse;
      }
    }
  }
}
