/*doc
---
title: Table
name: table
category: Base CSS
---

Class                 | Description
--------------------- | -----------------
`.table`              | Base table class, applies spacing and cross browser support. Unfortunately inherits some undesirable styles from bootstrap.
`.table-standard`     | Adds a dark header with inverted text and a border around the outside, but not on individual cells.
`.table-hover`        | Adds a light blue background color to table rows when the user hovers over them (use to indicate clickability)
`.table-striped`      | Applies zebra striping to a table.

*/




/*doc
---
title: Standard Table
name: table-standard
parent: table
category: Base CSS
---

This is the standard table used throughout our application. Typically it is paired `.table-striped`



```haml_example

%table.table.table-standard.table-striped
  %thead
    %tr
      %th
        Service Instance
      %th
        Service Plan
      %th
        Bound Apps
  %tbody
    %tr
      %td
        oracle-db-sct
      %td
        Oracle DB
      %td
        12
    %tr
      %td
        oracle-db-sct
      %td
        Oracle DB
      %td
        12
    %tr
      %td
        oracle-db-sct
      %td
        Oracle DB
      %td
        12
    %tr
      %td
        oracle-db-sct
      %td
        Oracle DB
      %td
        12
```

*/
.table-standard {
  border: none;
  tbody, thead,.tbody, .thead {
    tr, .tr {
      td, th, .td, .th{
        border: none; // overwriting bootstrap default values which are too specific
      }
    }
  }

  // Start optical illusion bug fix: Allows a border around the table but not it's children, avoiding a weird optical illusion bug
  thead,.thead {
    tr,.tr {
      &:first-child {
        border-top: 1px solid $table-standard-header-bg;
      }

      th, .th {
        border-bottom: none;
      }

      th:first-child,.th:first-child {
        border-left: 1px solid $table-standard-header-bg;
      }

      th:last-child, .th:last-child {
        border-right: 1px solid $table-standard-header-bg;
      }
    }

  }

  tbody, .tbody {
    tr, .tr {
      &:last-child {
        border-bottom: 2px solid $table-bg-accent;
      }
    }
  }
  // end optical illusion bug code

  > thead > tr, > .thead > .tr {
    background-color: $table-standard-header-bg;
    > th, > .th {
      color: $type-inverse;
      font-weight: 600;
      font-size: 13px; // TODO: use typographical heading styles once they have stabilized
      padding-left: 0;
      &:before {
        content: "";
        height: 15px;
        width: 0;
        display: block;
        float: left;
        margin-right: 10px;
        border-left: 1px solid $type-inverse;

      }
      &:first-child {
        //padding-left: 8px;
        &:before {
          content: "";
          border-color: transparent;
        }
      }
    }
  }
}

// Terrible terrible code
.table-hack {
  .thead, .tbody {
    padding: 0 15px;
  }
  .th {
    padding: 8px 15px;
  }
  .td {
    padding: 20px 15px;
  }
  .tbody {

    .tr:nth-child(odd){
      background-color: $table-bg-accent;
    }
  }
}

/*doc
---
title: Horizontal Table
name: table-horizontal
parent: table
category: Base CSS
---

This is the horizontal table used mainly on the user profile page. Typically it is paired `.table-striped` and `.table-standard`. It does not have a header row.



```haml_example

%table.table.table-standard.table-striped.table-horizontal
  %tbody
    %tr
      %th Email
      %td joe@example.com
    %tr
      %th Current Password
      %td *******
    %tr
      %th First Name
      %td Joe
    %tr
      %th Last Name
      %td Bobs
    %tr
      %th Phone
      %td 415-555-0000
```

*/
.table-horizontal {
  tbody {
    tr {
      &:last-child {
        border: none;
      }
      th, td {
        padding: 20px;
      }
      th {
        font-weight: 400;
        text-align: right;
        width: 33%;
      }
      td {
        font-weight: 600;
        &:last-child {
          border: none;
        }
      }
    }
  }
}

/*doc
---
title: Numerical Table
name: table-numerical
parent: table
category: Base CSS
---

This is the horizontal table used mainly on the user profile page. Typically it is paired `.table-striped` and `.table-standard`. It does not have a header row.



```haml_example

%table.table.table-standard.table-numerical
  %tbody
    %tr
      %th Email
      %td joe@example.com
    %tr
      %th Current Password
      %td *******
    %tr
      %th First Name
      %td Joe
    %tr
      %th Last Name
      %td Bobs
    %tr
      %th Phone
      %td 415-555-0000
```

*/
.table-numerical {
  tbody {
    tr {
      &:last-child {
        border: none;
      }
      th, td {
        padding: 5px 0;
      }
      th {
        font-weight: 400;
        text-align: left;
        width: 33%;
        color: $steel-3;
      }
      td {
        text-align: right;
        &:last-child {
          border: none;
        }
      }
    }
  }
}

/*doc
---
title: Clickable Table
name: table-clickable
parent: table
category: Base CSS
---

Use this style of table when rows are clickable. It is possible to prevent a user from clicking on a row w/ a message by adding data-prevent-click and data-prevent-click-message to the row. (N.B.: This does not actually add any sort of permissions to the URL in question).
We are making the assumption here that table-hover will *only* be used if the table is clickable, because we add a pointer.



```haml_example

%table.table.table-standard.table-hover.table-striped{:'data-behavior' => 'ClickableTable'}
  %thead
    %tr
      %th
        Style
      %th{colspan: 2}
        Clickability
  %tbody
    %tr{:'data-target-path' => '/style_guide#link', :'data-prevent-click' => 'true', :'data-prevent-click-message' => "YOU'VE ENTERED THE FORBIDDEN ZONE"}
      %td
        Forbidden Links
      %td
        High
      %td.txt-m.txt-r
        %i.fa.fa-chevron-right.type-primary-4
    %tr{:'data-target-path' => '/style_guide#button'}
      %td
        Buttons
      %td
        Medium
      %td.txt-m.txt-r
        %i.fa.fa-chevron-right.type-primary-4
    %tr{:'data-target-path' => '/style_guide#type'}
      %td
        Typography
      %td
        Low
      %td.txt-m.txt-r
        %i.fa.fa-chevron-right.type-primary-4
```

*/

.table-hover {
  cursor: pointer;
}

/*doc
---
title: Table Alignment
name: table_alignment
parent: table
category: Base CSS
---

Alignment classes can be used to align text top, bottom, middle or left, right, center. They can be applied to the `<table>`, `<tr>`,  `<td>`, or `<th>` and will affect all children. The *closest* class to the content will win in case of conflict.

Class                 | Description
--------------------- | -----------------
`.txt-l`              | Aligns text to the left
`.txt-r`              | Aligns text to the right
`.txt-c`              | Centers text horizontally
`.txt-t`              | Aligns text to the top
`.txt-b`              | Aligns text to the bottom
`.txt-m`              | Centers text vertically

*/

// Table alignment

/* horizontal alignment */
table .txt-c, table tr .txt-c, table tr td.txt-c {
  @extend .txt-c;
}
table .txt-l, table tr .txt-l, table tr td.txt-l {
  @extend .txt-l;
}
table .txt-r, table tr .txt-r, table tr td.txt-r {
  @extend .txt-r;
}

/* vertical alignment */
table .txt-t, table tr .txt-t, table tr td.txt-t {
  @extend .txt-t;
}
table .txt-b, table tr .txt-b, table tr td.txt-b {
  @extend .txt-b;
}
table .txt-m, table tr .txt-m, table tr td.txt-m {
  @extend .txt-m;
}
