/*doc
---
title: Tabs
name: tabs
category: Base CSS
---

You can activate a tab or pill navigation without writing any JavaScript by simply specifying `data-toggle="tab"` on an element.

*/
/*doc
---
title: Highlight Tabs
name: tab_highlight
parent: tabs
category: Base CSS
---

```haml_example
.tab-highlight
  .row
    .col-md-8
      %h1 Service Plans
      %ul.nav.nav-stacked
        %li.active
          %a{"data-toggle" => "tab", :href => "#home"}
            .row
              .col-md-10.tab-title
                Spark
              .col-md-14
                Free
        %li
          %a{"data-toggle" => "tab", :href => "#profile"}
            .row
              .col-md-10.tab-title
                Boost
              .col-md-14
                $10/month
        %li
          %a{"data-toggle" => "tab", :href => "#messages"}
            .row
              .col-md-10.tab-title
                Amp
              .col-md-14
                $50/month
        %li
          %a{"data-toggle" => "tab", :href => "#settings"}
            .row
              .col-md-10.tab-title
                Shockingly long plan name is important to test
              .col-md-14
                $1000/month

    .col-md-16
      %h1 Plan Features
      .tab-content
        #home.tab-pane.fade.in.active Content 1
        #profile.tab-pane.fade Content 2
        #messages.tab-pane.fade Content 3
        #settings.tab-pane.fade Content 4
```

*/

.tab-highlight {
  .nav {
    > li {
      position: relative;
      overflow: hidden;
      padding-right: $tab-highlight-beak-width;

      + li {
        margin-top: -$tab-highlight-border-width; // overriding bootstrap defaults
      }

      > a {
        padding: 15px;
        color: $tab-highlight-tab-color;
        border: $tab-highlight-border-width solid $tab-highlight-border-color;
      }

      > a:hover {
        border-color: $nav-tabs-active-link-hover-border-color;
        z-index: 100;
        color: $teal-4;
      }
    }

    > li.active {
      a {
        z-index: 50;
      }

      > a,
      > a:hover {
        color: $tab-highlight-tab-hover-color;
        background-color: $tab-highlight-tab-hover-bg-color;
        padding: 15px + $tab-highlight-border-width;
        border-width: 0;
        cursor: default;
      }

      > a:before {
        content: "";
        display: block;
        border-style: solid;
        border-width: $tab-highlight-beak-height/2 0 $tab-highlight-beak-height/2 $tab-highlight-beak-width;
        border-color: transparent transparent transparent $tab-highlight-beak-color;
        position: absolute;
        right: -$tab-highlight-beak-width;
        top: 50%;
        margin-top: -$tab-highlight-beak-height/2;
      }
    }

    .tab-title {
      text-transform: uppercase;
      font-size: $nav-tabs-title-font-size;
    }
  }


  //content area of tabs
  .tab-content {
    border-left: $tab-highlight-border-width solid $tab-highlight-border-color;
    border-top: $tab-highlight-border-width solid $tab-highlight-border-color;
    padding: 30px 45px;
    margin-left: -46px;
    min-height: 600px;
  }
}
